@import "utils";
@import "fonts";

body {
  background: #030201;
  font-family: "Cambria", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.witcher {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../images/witcher_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


  &__image {
    opacity: 0;
    animation: fade 4s forwards;
    background-image: url("../images/witcher.png"), url("../images/sparks_back.png");
    background-size: contain, contain;
    background-repeat: no-repeat;
    background-position: bottom, bottom;

    @include onTablet {
      display: block;
    }
  }

  &__content {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include onTablet {
      height: 100vh;
      display: grid;
      grid-template-columns: 7fr 5fr;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: #fff;
    font-size: 80px;
    font-weight: 700;

    @include onDesktop {
      font-size: 120px;
    }

    @include onLargeDesktop {
      font-size: 209px;
    }
  }

  &__subtitle {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    @include onDesktop {
      font-size: 40px;
    }

    @include onLargeDesktop {
      font-size: 68px;
    }
  }

  &__code {
    display: flex;
    margin: 30px 0;
    align-items: center;
    font-family: "Inter", sans-serif;
    border: 1px dashed #464646;
    border-radius: 80px;

    @include onDesktop {
      margin: 60px 0;
    }

    &__text {
      position: relative;
      padding: 15px 15px 15px 25px;
      font-size: 25px;
      font-weight: 400;
      color: #f73427;
      letter-spacing: 4px;
      text-transform: uppercase;

      @include onLargeDesktop {
        padding: 15px 25px 15px 35px;
        font-size: 40px;
      }
    }

    &__text::after {
      content: "";
      width: 1px;
      height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      background: #464646;;
    }

    &__button {
      padding: 15px 25px 15px 15px;
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: color 0.3s;
      cursor: pointer;

      @include onLargeDesktop {
        padding: 15px 35px 15px 25px;
        font-size: 18px;
      }
    }

    &__button:hover {
      color: rgb(180, 0, 0);
    }

    &__button:active {
      color: rgb(130, 0, 0);
    }
  }

  &__button {
    padding: 20px 60px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #f73427;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    transition: background 0.3s;
    cursor: pointer;


    @include onDesktop {
      padding: 20px 80px;
    }

    @include onLargeDesktop {
      padding: 30px 120px;
      font-size: 20px;
    }
  }

  &__button:hover {
    background: rgb(130, 0, 0);
  }

  &__button:active {
    background: rgb(100, 0, 0);
  }

  &__footer {
    position: relative;
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;

    @include onTablet {
      bottom: 30px;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    @include onLargeDesktop {
      bottom: 60px;
    }

    &__link {
      display: flex;

      @include onTablet {
        position: absolute;
        left: 50px;
      }

      @include onLargeDesktop {
        left: 70px;
      }
    }

    &__logo {
      width: 140px;

      @include onLargeDesktop {
        width: initial;
      }
    }

    &__terms {
      font-family: "Inter", sans-serif;
      letter-spacing: 1px;
      color: #464646;
      font-size: 14px;
      font-weight: 400;

      @include onTablet {
        position: absolute;
        right: 50px;
      }

      @include onLargeDesktop {
        right: 70px;
      }
    }
  }
}
