@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "utils";
@import "fonts";

body {
  background: #030201;
  font-family: "Cambria";
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
}

.witcher {
  &__image {
    background-image: url('../images/witcher.png'), url('../images/sparks_back.png');
    background-size: contain, contain;
    background-repeat: no-repeat;
    background-position: bottom, bottom;
  }

  &__content {
    display: grid;
    grid-template-columns: 7fr 5fr;
    column-gap: 60px;
    background-image: url('../images/witcher_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 100vh;
    padding-right: 0 72px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: #fff;
    font-size: 120px;
    font-weight: 700;

    @include onLargeDesktop {
      font-size: 209px;
    }
  }

  &__subtitle {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;

    @include onLargeDesktop {
      font-size: 68px;
    }
  }

  &__code {
    display: flex;
    margin: 60px 0;
    font-family: 'Inter', sans-serif;
    align-items: center;
    padding: 10px 20px;
    border: 1px dashed #464646;
    border-radius: 80px;

    @include onLargeDesktop {
      padding: 20px 40px;
    }

    &__text {
      margin: 0;
      color: red;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
      margin-right: 30px;

      @include onLargeDesktop {
        font-size: 40px;
        margin-right: 60px;
      }
    }

    &__button {
      margin: 0;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &__button {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 80px;
    border-radius: 40px;
    border: none;
    color: #fff;
    background-color: #f73427;

    @include onLargeDesktop {
      font-size: 20px;
      padding: 30px 120px;
    }
  }
}
