@import "utils";
@import "fonts";

body {
  background: #030201;
  font-family: "Cambria", sans-serif;
  padding: 0;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    background-position: 50%, 50%;
    filter: contrast(1.1);
  }
  100% {
    background-position: 0, 0;
    filter: contrast(1);
  }
}

.witcher {
  display: flex;
  flex-direction: column;
  background-image: url("../images/witcher_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include onDesktop {
    animation: move 2.5s forwards;
    background-image: url("../images/witcher.png"), url("../images/sparks.png"), url("../images/witcher_bg.png");
    background-size: contain, contain, cover;
  }

  &__content {
    display: grid;
    align-content: center;
    margin: 0 auto 20px;

    @include onDesktop {
      grid-template-columns: 7fr 6fr;
      margin: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 130px);

    @include onTablet {
      display: grid;
      grid-column: 2;
      justify-items: center;
      align-content: center;
      min-height: calc(100vh - 120px);
      padding: 0 40px;
    }
  }

  &__title {
    color: #fff;
    font-size: 80px;
    font-weight: 700;

    @include onTablet {
      font-size: 120px;
    }

    @include onLargeDesktop {
      font-size: 209px;
    }
  }

  &__subtitle {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    @include onTablet {
      font-size: 40px;
    }

    @include onLargeDesktop {
      font-size: 68px;
    }
  }

  &__code {
    display: flex;
    margin: 30px 0;
    align-items: center;
    font-family: "Inter", sans-serif;
    border: 1px dashed #464646;
    border-radius: 80px;

    @include onDesktop {
      margin: 60px 0;
    }

    &__text {
      position: relative;
      padding: 15px 15px 15px 25px;
      color: #f73427;
      font-size: 25px;
      font-weight: 400;
      letter-spacing: 4px;
      text-transform: uppercase;

      @include onLargeDesktop {
        padding: 20px 25px 20px 35px;
        font-size: 40px;
      }
    }

    &__text::after {
      content: "";
      width: 1px;
      height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      background: #464646;
    }

    &__button {
      padding: 15px 25px 15px 15px;
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: color 0.3s;
      cursor: pointer;

      @include onLargeDesktop {
        padding: 15px 35px 15px 25px;
        font-size: 18px;
      }
    }

    &__button:hover {
      color: rgb(180, 0, 0);
    }

    &__button:active {
      color: rgb(130, 0, 0);
    }
  }

  &__button {
    padding: 20px 60px;
    color: #fff;
    background-color: #f73427;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    text-transform: uppercase;
    transition: background 0.3s;
    cursor: pointer;

    @include onLargeDesktop {
      padding: 30px 120px;
      font-size: 20px;
    }
  }

  &__button:hover {
    background: rgb(130, 0, 0);
  }

  &__button:active {
    background: rgb(100, 0, 0);
  }

  &__footer {
    animation: fade 5s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 100px 40px;
    }

    &__link {
      display: flex;
      margin-bottom: 20px;
    }

    &__logo {
      width: 140px;

      @include onDesktop {
        width: initial;
      }
    }

    &__terms {
      color: #464646;
      font-size: 14px;
      font-weight: 400;
      font-family: "Inter", sans-serif;
      letter-spacing: 1px;
    }
  }
}
